
<!DOCTYPE html>
<head>
  <title>EmailGenerator</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  {% if result %}
  <div class="result">
    <table role="presentation" width="600" align="center" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td width="100%" style="font-family:Arial, sans-serif; font-size:16px; line-height:1.5em; color:#333333; padding:2em; background-color:#e4e4e4;">

            <span style="white-space: pre-line">  {{ result }}</span>
        </td>
    </tr>
  </div>
  {% else %}
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3 style="margin-bottom: 0px">Write my email polite and fast</h3>
  <h5 style="margin-bottom: 40px">This tool helps you to formulate your email fast and in a polite way for any circumstances.</h5>
  <form action="/" method="post">
    <input type="text" name="recipient" placeholder="Enter recipient" required />
    <input type="text" name="affiliation" placeholder="Enter relation" required />
    <input type="text" name="purpose" placeholder="Enter purpose" required />
    <input type="text" name="signature" placeholder="Enter signature" required />
    <input type="submit" value="Write my e-mail" />
  </form>
  {% endif %}
</body>
